
.table{
    text-align: center;

/* table-striped выделение через одну строчку*/
/* цвет внутри выделения*/
    --mdb-table-striped-color: #000;
/* цвет заднего фона выделения*/
    --mdb-table-striped-bg: rgba(8, 43, 240, 0.05);

}

#table-head th{
    padding: 0px 0px;
}
#table-body td{
    padding: 2px 0px;
    border-color: inherit;
    font-size: 13px;
    font-weight: 500;
}


.title_table{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    padding-top: 1%;
}

.test{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

}