
body{
	font-family: "Roboto", sans-serif;
}

.container{
	padding: 0 10px;
}

.title{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: 900;
	font-size: 2rem;
}

.table-bordered{

}

.table{
	width: 100%;
    text-align: center;
	
/* table-striped выделение через одну строчку*/
/* цвет внутри выделения*/
    --mdb-table-striped-color: #000;
/* цвет заднего фона выделения*/
    --mdb-table-striped-bg: rgba(8, 43, 240, 0.05);

}

#table-head{
	font-weight: 700;
}
#table-head {

}

#table-head th{
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}

#table-body tr{
	border: 1px solid;

}
#table-body td{
	border: 1px solid;
    font-size: 1rem;
	line-height: 1;
	padding: 2px 3px;
    font-weight: 500;
}

#table-body tr:nth-child(2n){
	background-color: rgba(8, 43, 240, 0.05);
}

#table-body tr:first-child td{
	line-height: 1;
	border-top: 3px solid;
	border-bottom: 3px solid;
	font-weight: 700;
	font-size: 1rem;	
}
